.root {
    -fx-font-family: 'Arial';
    -fx-font-size: 12px;
    -fx-background-color: #f0f0f0;
}

#title {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-fill: #333366;
}
.title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #333366;
}

#infoText {
    -fx-font-size: 14px;
    -fx-fill: #333333;
}

.grid {
    -fx-padding: 20px;
    -fx-hgap: 10px;
    -fx-vgap: 10px;
}

.button {
    -fx-background-color: #5c6bc0;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.button:hover {
    -fx-background-color: #3949ab;
}
.info-button {
    -fx-background-radius: 15;
    -fx-min-width: 30px;
    -fx-min-height: 30px;
    -fx-max-width: 30px;
    -fx-max-height: 30px;
}

.button-spacing {
    -fx-margin: 10px; /* Space outside the button's border */
}

.hbox-spacing {
    -fx-spacing: 10px; /* Space between elements inside an HBox */
}

.container-spacing {
    -fx-padding: 10px; /* Adds space inside the container's border */
}
.logs-title {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 0;
}

.log-text {
    -fx-font-size: 12px; /* Smaller font size */
    -fx-font-weight: normal;
}

